.diceContainer {
    display:flex;
}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

}

.savedDice {
    
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px yellow;

}

.pips {

    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;

    /* Dot Positioning*/
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}

.rollDice {
    margin-top: 10px;
}

#diceFace1 {
    background-image: url('C:/Users/mike/Desktop/Projects/Dice/diceFacePics/side1.png') ;
}
#diceFace2 {
    background-image: url('C:/Users/mike/Desktop/Projects/Dice/diceFacePics/side2.png') ;
}
#diceFace3 {
    background-image: url('C:/Users/mike/Desktop/Projects/Dice/diceFacePics/side3.png') ;
}
#diceFace4 {
    background-image: url('C:/Users/mike/Desktop/Projects/Dice/diceFacePics/side4.png') ;
}
#diceFace5 {
    background-image: url('C:/Users/mike/Desktop/Projects/Dice/diceFacePics/side5.png') ;
}
#diceFace6 {
    background-image: url('C:/Users/mike/Desktop/Projects/Dice/diceFacePics/side6.png') ;
}